/* Master Styles */
h1 {
/* 	color: #369; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
}

h2, h3 {
	/* color: #369; */
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 2em;
}

a {
	cursor: pointer;
	cursor: hand;
}

button {
	font-family: Arial;
	font-size: 1em;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	color: #369;
}

button:hover {
	color: #039be5;
	background-color: #DDD;
}

input {
	height: 2em;
	font-size: 1em;
	padding-left: .4em;
	margin: .4em 0 .4em 0;
}

/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
		color: #369;
}