<div *ngIf="vote">
	<h2>{{vote.topic}}</h2>

	<div class="standard">{{vote.description}}</div>

	<div *ngIf="userHasAlreadyVoted()">
		<ul>
			<li *ngFor="let option of percentages">
				<span class="standard">{{option.name}}</span>
			</li>
		</ul>
	</div>

	<div *ngIf="!userHasAlreadyVoted()">
		<ul>
			<li *ngFor="let option of vote.options">
				<span class="standard">{{option.name}}</span>
			</li>
		</ul>
	</div>

	<hr />

	<div class="standard">
		 Created by: {{vote.createdByUserName}}
	</div>
	<div class="standard">
		Created on: {{vote.creationDate}}
	</div>

	<hr />

	<div>
		<button (click)="participateVote()">Participate</button>
		<button *ngIf="vote.editable" (click)="editVote()">Edit Details</button>
		<button *ngIf="isDeletable()" class="delete-button" (click)="deleteVote()">Delete</button>
		<button (click)="goBack()">Back</button>
	</div>
	
	<p>{{vote.id}}<br />editable: {{vote.editable}}
</div>