<div *ngIf="vote">
	<h3>Create a new vote</h3>
	<p>
	<div class="standard" >
		To create a new vote, just fill out the fields beneath.
	</div>
	<p>
	<input [(ngModel)]="vote.topic" placeholder="Topic"/>
	<br>
	<span class="standard" >Enter the general topic of the vote here</span>
	<p>	
	<input [(ngModel)]="vote.description" placeholder="Description"/>
	<br>
	<span class="standard" >Enter your description of the vote here</span>
	<p><br>
	<div class="standard" >
		At the moment  you can define three options, the users are able to vote.
	</div>
	<ul>
		<li>
			<input [(ngModel)]="vote.options[0].name" placeholder="Option 1" />
		</li>
		<li>
			<input [(ngModel)]="vote.options[1].name" placeholder="Option 2" />
		</li>
		<li>
			<input [(ngModel)]="vote.options[2].name" placeholder="Option 3"/>
		</li>
	</ul>

	<button (click)="goBack()">Back</button>
	<button (click)="save()">Save</button>
</div>