<div *ngIf="vote">
	<h2>EDIT: {{vote.topic}}</h2>

	<div>
		{{vote.id}}
		<p>editable: {{vote.editable}}
	</div>


	<div>
		Topic: <input [(ngModel)]="vote.topic" placeholder="topic" />
	</div>

	<div>
		Description: <input [(ngModel)]="vote.description"
			placeholder="description" />
	</div>

	<div>Options</div>
	<ul>
		<li *ngFor="let option of vote.options">
			<div>
				<input [(ngModel)]="option.name" />
			</div>
		</li>
	</ul>

	<div>
		<label>Created from: </label>{{vote.createdByUsername}}
	</div>
	<div>
		<label>Created on: </label>{{vote.creationDate}}
	</div>

	<button (click)="goBack()">Back</button>
	<button *ngIf="vote.editable" (click)="save()">Save</button>
</div>